{% extends "components/base_importar_json.html" %}

{% block title %}Importar vídeos por JSON{% endblock %}
{% block voltar_url %}{% url 'videos_admin:lista' %}{% endblock %}
{% block imp_titulo %}Importar vídeos por JSON{% endblock %}
{% block imp_descricao %}Cole um JSON com vídeos do YouTube. A matéria e o conteúdo devem ser referenciados por slug.{% endblock %}
{% block imp_padroes_url %}{% url 'curriculo_admin:admin_padroes_importacao_json' %}?origem=videos{% endblock %}
{% block imp_cancelar_url %}{% url 'videos_admin:lista' %}{% endblock %}
{% block imp_campo %}{% include "components/campo_json.html" with field=form.json_videos %}{% endblock %}
{% block imp_exemplo %}{
  "materia": "matematica",
  "videos": [
    {
      "conteudo": "porcentagem",
      "url": "https://www.youtube.com/watch?v=XXXXXXXXXXX",
      "nota_curador": "Assista antes de resolver as questões de porcentagem.",
      "ordem": 1,
      "ativo": true
    }
  ]
}{% endblock %}
{% block imp_regras %}
    <li>Informe <code>url</code> ou <code>youtube_id</code>.</li>
    <li>Título e canal são obtidos automaticamente do YouTube; campos como <code>titulo</code> ou <code>canal_nome</code> no JSON são ignorados.</li>
    <li>Máximo de 50 vídeos por importação.</li>
{% endblock %}
